.contact-form {
  //   box-shadow: $box-shadow-light;
  .form-group {
    display: block;
    padding: 1rem;

    .message-label {
      text-align: left;
    }

    label {
      font-weight: bolder;
      margin: 1rem 1rem;
      font-size: 1.5rem;
      display: block;
    }

    input {
      margin: 1rem 1rem;
      font-size: 1.5rem;
      display: block;
      width: 60%;
      height: 3rem;
    }

    textarea {
      margin: 1rem 1rem;
      font-size: 1.5rem;
      display: block;
      width: 60%;
    }
  }

  .submit {
    margin: 1rem 1rem;
    font-size: 1.5rem;
    display: block;
    width: 15%;
    height: 3.5rem;
    background-color: $color-primary;
    color: $color-secondary;
  }
}
