.gallery-container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
  grid-template-rows: auto;
}

.gallery {
  grid-column: 2 / 12;
  min-height: 50rem;
  border: 2px solid $color-navy;
  margin-bottom: 2rem;
  padding: 3rem;
  display: grid;
  //   align-content: center;
  //   justify-content: center;

  &-header {
    font-size: 1.6rem;
    color: $color-navy;
    margin-bottom: 1rem;
    justify-self: center;
  }

  &-window {
    width: 60%;
    justify-self: center;
  }
}

.main-img {
  margin-bottom: 1rem;
  height: 30rem;
  border: 1px solid $color-navy;
  padding: 0.5rem;
  // background-color: $color-navy;
}

.imgs {
  display: grid;
  height: 20rem;
  overflow: scroll;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10rem);
  grid-auto-rows: 10rem;
  grid-gap: 0.5rem;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 100%;
  }
}

.main-img img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 100%;
}

// fade in Amination

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
